<!-- Main starts -->
<div class="main">
   <!-- Top Navigation -->
     <div class=" top-content-style"> 
       <div class="pull-left">
         <span ><a routerLink='/mark-attendance' routerLinkActive="Active"  class="fa fa-arrow-left" style="color: white;text-decoration: none;"></a></span>
        </div>
           <span id="home" style="text-align: center;">Apply Leave</span>
           <div class="pull-right">
           <span class="fa fa-search"></span>
           </div>     
        </div>  <!-- Top Navigation ends--> 

        <div>  <!-- Form Division-->
         <form action="/action_page.php">
         <p style="color:red;font-size:12px;text-align: center;">*Please write proper description about your concern</p>
         <input type="text"  name="name" placeholder="Name">
         <input type="text" id="lname" name="reason" placeholder="Reason for leave">
         <textarea type="text" id="lname" name="description" placeholder="Description"></textarea>
         <input type="submit" value="Submit">
         </form>
      </div>   <!-- Form Division ends-->    
</div>  <!--  Main ends -->

   