<div class="main-bg">
	<!-- content -->
	<div class="sub-main-w3">
		<div class="bg-content-w3pvt">
			<div class=" top-content-style">
				<img src="../../assets/logo.png" style="width: 150px;height: 50px;">
				<h3 style="color:#ffffff">Welcome Back</h3>
			</div>
			<form [formGroup]="authForm" (ngSubmit)="logIn()" >
					<p class="legend">Please Login here to mark your attendance<span class="fa fa-hand-o-down"></span></p>
				<div class="input">
						<input type="email" placeholder="Phone Number or Email" name="email" formControlName="email" >
						<span class="fa fa-envelope"></span>
						
            			 <div *ngIf="isSubmitted && authForm.controls.email.errors" class="error">
						   <div *ngIf="authForm.controls.email.errors.required">Email is required</div>
						   <div *ngIf="authForm.controls.email.errors.pattern">Valid Email is required</div>
						</div>
				</div>
			
				<div class="input">
						<input type="password" placeholder="Password" name="password" formControlName="password" required>
						<span class="fa fa-unlock"></span>
             			<div *ngIf="isSubmitted && authForm.controls.password.errors" class="error">
          				<div *ngIf="authForm.controls.password.errors.required">Password is required</div>
        		</div>
				</div>
				
				<div class="bottom-text ">
				  <a routerLink="/forgot-password">Forgot Password?</a>
				</div>
					
            	<div class="button-group" >
				  <button type="submit" class="login-button">Login</button>
				</div>
				<div *ngIf="invalidLogin" class="error">
					Invalid credentials
				</div>
                  <div class="otp-text ">
					  <a href="#" >Login With OTP</a>
				 </div> 
			</form>	
		</div>
	</div>
	
</div>

