<!-- Top Navigation startss-->
<div class="topnav">
  <a routerLink='/mark-attendance' routerLinkActive="Active" style="color: #ffffff; float:left"><i class="fa fa-arrow-left" style="color:#ffffff"></i></a>
    <a style="left: 45%;position: absolute;">Events</a>
    <a href="#about" style="float: right;"><i class="fa fa-search" style="color:#ffffff"></i></a>
  </div>  <!-- Top Navigation ends-->
  

  <!-- List -->
  <div class="group-list">
    <ul class="main-list" style="color:#D16AF7;font-weight: 600;letter-spacing: 1px;">
        <li>
            <span>Meeting schedule</span>
            <span style="right: 21px;font-size:10px;position: absolute;">5min ago</span>
            <p>Here to inform all splenta employess to attend meeting on Monday at @3pm</p>
       
              <span style="font-weight: 100;">Reports</span>
                <span style="right: 21px;font-size:10px;position: absolute;">5min ago</span>
            <p>Here to inform all splenta employess to attend meeting on Monday at @3pm</p>
            </li>     
    </ul>
    <ul class="main-list" style="color:#D16AF7;font-weight: 600;letter-spacing: 1px;">
        <li>
            <span>Safety Guidelines</span>
            <span style="right: 21px;font-size:10px;position: absolute;">5min ago</span>
            <p>Here to inform all splenta employess to attend meeting on Monday at @3pm</p>
       
               <span style="font-weight: 100;">Brief Notes to work</span>
               <span style="right: 21px;font-size:10px;position: absolute;">5min ago</span>
            <p>Here to inform all splenta employess to attend meeting on Monday at @3pm</p>
            </li>     
    </ul>
  </div>
