<div class="main-bg">
	<!-- content -->
	<div class="sub-main-w3">
        
		<div class="bg-content-w3pvt">
          

			<div class=" top-content-style">
                <div *ngIf="success" > A link has been sent to your mail to reset password</div>
				<img src="../../assets/logo.png" style="width: 150px;height: 50px;">
                <h3 style="color:#ffffff">Welcome Back</h3>
			</div>
            
            <form [formGroup]="forgotPasswordForm"  (ngSubmit)="logIn()">
                
              <p class="legend">Please Enter your Email</p>
                    <input  type="email" placeholder="Email" formControlName="email">
                    <div *ngIf="isSubmitted && forgotPasswordForm.controls.email.errors" class="error">
                        <div *ngIf="forgotPasswordForm.controls.email.errors.required">Email is required</div>
                        <div *ngIf="forgotPasswordForm.controls.email.errors.pattern">Valid Email is required</div>
                    </div>
                    <!-- <div *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                        Please enter a valid email address
                    </div> -->
              
                    <div class="button-group" >
                        <button type="submit" class="reset">Send reset link</button>
                      </div>
                      
                     
                        <a class="link" [routerLink]="'/login'">Go back to login</a>
                    
            </form>


        </div>

    </div>

</div>


